/*THIS IS FOR THE MAIN PAGE*/

body,html {
  background-image: url("background.png");
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ECFBF7;
}

.logo{
position: absolute;
height: 50px;
left: 35px;
top: 9px;
size: 10px;
}

span {
  color: white; 
}

ul {
  width: auto;
  float: right; 
  margin-top: 8px;
}

li {
  display: inline-block;
  padding: 15px 30px;
   word-spacing: 60px;
}

.two {
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: Merriweather, italic; 
  font-size: 20px;
}

.circle1 {
position: absolute;
width: 441px;
height: 428px;
left: 823px;
top: 109px;
border-radius: 50%;
background: rgba(201, 234, 228, 0.83);
}

.circle2 {
position: absolute;
width: 328px;
height: 324px;
left: 1000px;
top: 285px;
border-radius: 50%;
background: rgba(255, 255, 255, 0.63);
}

h2 {
position: absolute;
width: 521px;
height: 126px;
left: 139px;
top: 123px;

font-family: Merriweather;
font-style: italic;
font-weight: normal;
font-size: 48px;
line-height: 60px;

color: #000000;
}

.register {
position: absolute;
width: 167px;
height: 29px;
left: 146px;
top: 416px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
outline: none;
text-decoration: none;  
display: inline-block;
margin-right: 0.625%;
text-align: center;
color: black;
}

.rectangler {
position: absolute;
width: 180px;
height: 63px;
left: 139px;
top: 400px;

background: rgba(255, 255, 255, 0.37);
border-radius: 30px;
}

.rectangle1 {
position: absolute;
width: 425px;
height: 48px;
left: 370px;
top: 408px;

background: rgba(255, 255, 255, 0.41);
}

.inputBox {
position: absolute;
width: 425px;
height: 48px;
left: 370px;
top: 408px;
border:none;
background: rgba(255, 255, 255, 0.41);
}

.search {
width: 18.9px;
height: 20px;
position: absolute;
top: 424px;
left: 765px;
}

.boston {
font-family: Merriweather;
font-weight: normal;
font-size: 20px;
line-height: 60px;

position: absolute;
width: 626px;
height: 21px;
left: 379px;
top: 383px;
}

.imageContainer {
  height: 15px;
}

.searchBox {
  display: inline-block;
}